@charset "UTF-8";
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-VariableFont_wght.ttf");
  src: local("☺"), url("fonts/Mulish-VariableFont_wght.ttf") format("ttf"), url("fonts/Mulish-VariableFont_wght.ttf");
  font-weight: 300;
  font-style: normal;
}
body {
  background-color: slategray;
  color: white;
  font-family: sans-serif;
}

#hamberder {
  width: 100%;
  background: #1d3030;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  padding: 0;
  font-family: "Mulish";
  font-weight: bold;
  font-size: 24px;
}

#hamberder label,
#hamburger {
  display: none;
  transition: 250ms;
}

#hamitems {
  display: flex;
}

#hamitems a {
  width: 20%;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: all 500ms ease 0s;
}

#hamitems a:hover {
  color: #e9967a;
  background-color: white;
}

.jumbotron {
  background-image: url("images/malamute-1149530_1920.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  text-shadow: 1px 1px 4px #333;
}
.jumbotron h1 {
  font-size: 4em;
  -o-transition: font-size 250ms linear;
  -moz-transition: font-size 250ms linear;
  -webkit-transition: font-size 250ms linear;
  transition: font-size 250ms linear;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  overflow: hidden;
  background-color: #333;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .active {
  background-color: darkslategray;
}

nav ul {
  position: sticky;
  top: 0;
}

nav {
  font-family: "Mulish";
}

h1 {
  margin-bottom: 20px;
  font-size: 2.3em;
  font-family: "Mulish";
  overflow: hidden;
  -o-transition: font-size 250ms linear;
  -moz-transition: font-size 250ms linear;
  -webkit-transition: font-size 250ms linear;
  transition: font-size 250ms linear;
}

main {
  background-color: #456;
  padding: 25px;
  width: 100%;
}

form {
  margin: 0 auto;
  display: inline-block;
  border: solid 1px;
  width: 640px;
  height: 444px;
  background-image: url("images/dogs-2921382_1920.jpg");
  background-size: contain;
  background-position: center;
  font-family: "Mulish";
  text-shadow: 1px 1px 4px #333;
}

input[type=text] {
  width: 70%;
  padding: 0;
  opacity: 60%;
}

textarea {
  width: 70%;
  height: 150px;
  vertical-align: text-top;
  opacity: 60%;
}

input {
  border-radius: 15px;
  background-color: white;
  margin-bottom: 10px;
}

.bradstacie {
  width: 100%;
}

.name {
  display: inline-block;
  width: 125px;
  text-align: right;
  font-weight: bold;
  vertical-align: text-top;
}

.email {
  display: inline-block;
  width: 125px;
  text-align: right;
  font-weight: bold;
  vertical-align: text-top;
}

.message {
  display: inline-block;
  width: 125px;
  text-align: right;
  font-weight: bold;
  vertical-align: text-top;
}

.buttonz {
  margin: 0 auto;
  width: 50%;
}

.card {
  transition: 500ms;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  opacity: 80%;
  transition: 500ms;
}

.card-title {
  color: darkslategray;
}

.myBtn {
  position: fixed;
  bottom: 15px;
  float: right;
  right: 7%;
  left: 87.25%;
  max-width: 45px;
  width: 100%;
  font-size: 30px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: #646464;
  border-radius: 4px;
  text-align: center;
}

.myBtn a {
  display: block;
}

.myBtn:hover {
  background-color: #7dbbf1;
  transition: 200ms;
}

.bottombar {
  font-size: 11px;
  background-color: #333;
  padding: 20px;
  position: sticky;
  width: 100%;
  padding: 10px 10px 10px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottombar img {
  width: 70px;
  height: 70px;
  border: none;
  padding: 15px;
}
.bottombar h3 {
  display: inline-flex;
  font-weight: bold;
}

.iconz {
  display: flex;
  overflow: hidden;
}

.iconz a:hover {
  transform: scale(1.3);
  transition: 200ms;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  list-style: circle;
}

.form {
  margin: auto;
}

.row {
  display: flex;
}

#hamberder {
  transition: 500ms ease;
}

.linkinhere a:hover {
  color: white;
  text-decoration: none;
  transition: 200ms;
}

.column {
  flex: 33.33%;
  padding: 5px;
  text-align: center;
}

.caringpic {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sledpic {
  margin: auto;
}

@media screen and (max-width: 992px) {
  .sledpic {
    order: 2;
    float: left;
    clear: none;
    margin-bottom: 15px;
  }

  .firstp {
    order: 1;
  }

  .secondp {
    order: 3;
  }

  .caringtext {
    order: 1;
  }

  .caringpic {
    order: 2;
    margin-top: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 768px) {
  form {
    margin: 0 auto;
    display: inline-block;
    width: 450px;
    height: auto;
    background-image: url("images/dogs-2921382_1920.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Mulish";
    text-align: center;
  }

  input[type=text] {
    width: 90%;
    padding: 0;
    opacity: 60%;
  }

  textarea {
    width: 90%;
    height: 140px;
    vertical-align: middle;
    opacity: 60%;
  }

  .name {
    text-align: left;
  }

  .email {
    text-align: left;
  }

  .message {
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  #hamberder label {
    display: block;
    color: white;
    background: #1d3030;
    font-style: normal;
    font-size: 1.2em;
    padding: 15px;
    margin: 0;
    transition: all 500ms ease 0;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  #hamitems a:hover {
    color: #e9967a;
    background-color: white;
  }

  #hamitems {
    display: none;
  }

  #hamberder input:checked ~ #hamitems {
    display: block;
  }

  form {
    width: 100%;
  }

  .iconz {
    margin-right: 40px;
  }
}
.row [class*=col-] {
  transition: all 500ms ease-in-out;
}

@media screen and (min-width: 576px) {
  .container {
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }
}
@media screen and (max-width: 768px) {
  .container {
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }

  .jumbotron h1 {
    font-size: 3em;
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }

  h1 {
    font-size: 1.4em;
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }
}
@media screen and (min-width: 768px) {
  .container {
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }
}
@media screen and (max-width: 992) {
  .container {
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }
}
@media screen and (min-width: 992) {
  .container {
    transition: 333ms;
    -webkit-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -moz-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    -o-transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
    transition-timing-function: cubic-bezier(0.9, 0.1, 0.33, 0.9);
  }
}
/* Set the property you want to transition. In this case it is font-size */
/* Using 'all' will apply the transition to all properties assicated with the element. so this will transition the color and font-size at the same rate*/

/*# sourceMappingURL=style.css.map */
